{
  "parserOptions": {"sourceType": "module"},
  "extends": "eslint:recommended",
  "env": {
    "es2020": true,
    "browser": true,
    "node": true,
  },
  "rules": {
    "no-unused-vars": ["error", {"argsIgnorePattern": "^_.", "varsIgnorePattern": "^_."}],
    "no-restricted-globals": ["error",
      // window (browser)
      "alert", "blur", "confirm", "event", "fetch", "find", "focus", "history",
      "length", "name", "navigator", "open", "parent", "print",
      "prompt", "scroll", "self", "status", "stop", "top",
      // global (node)
      "root",
      // other
      "test",
      // These global functions are broken
      "isNaN", "isFinite",
    ],
  },
}
